*~
*.swp
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.bak
*.*scc
*.user
*.suo
*.webinfo
*.pdb
*resharper*
*_ReSharper*
*.trx
*.patch
TestResult.xml
*.sln.cache
TestResults
*.ncrunch*
